*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 8mm;
    background-color: grey;
}
.header{
    background-color: rgb(83, 83, 83);
    display: flex;    
    justify-content: right;
    margin-bottom: 3vh;
}
.header > div{
    background-color: rgb(34, 34, 34);    
    display: flex;
    width: fit-content;
    margin: 2vh;    
    border-radius: 2vh;
    padding: 2vh;
}
.content{
    background-color: rgb(122, 122, 122);
    display: flex;
    margin: 3vh;
    border-radius: 2vh;    
    padding: 2vh;
}
.vehicles{
    background-color: rgb(54, 54, 54);
    margin: 3vh;
    border-radius: 2vh;    
    padding: 2vh;
    height: 40vh;
}
.rent{    
    width: fit-content;
    background-color: rgb(30, 75, 29);
    margin: 3vh;
    border-radius: 2vh;    
    padding: 2vh;
}
.cardcontent{    
    background-color: rgb(110, 110, 110);
    margin: 3vh;
    border-radius: 2vh;        
    display: flex; 
    padding: 2vh;
    justify-content: center;
}
label{
    margin: 3vh;
    border-radius: 2vh;        
    display: flex; 
    padding: 2vh;
    background-color: rgb(83, 83, 83);
}
input{
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;        
    display: flex;
    margin-left: 1vh;

}
form{    
    width: fit-content;   
    justify-content: center;     
    margin: 3vh;
    border-radius: 2vh;   
    text-align: center;
}
button{    
    background-color: rgb(255, 255, 255);
    width: fit-content;
    justify-content: right;    
    margin-bottom: 3vh;
    border-radius: 2vh;   
    padding: 2vh;
}